# Previsão de preço de carros usados

In [6]:
import pandas as pd

pd.options.display.max_columns = 999

In [7]:
df = pd.read_csv('/home/franciscofoz/Documents/GitHub/math-stats-training/Datasets/car-price/car_price_prediction.csv')
df

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,-,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5
19233,45778856,15681,831,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
19234,45804997,26108,836,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
19235,45793526,5331,1288,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2,51258 km,4.0,Automatic,Front,04-May,Left wheel,Black,4
19236,45813273,470,753,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12

## Transformações iniciais

In [8]:
df.ID.duplicated().sum()

313

In [9]:
df.duplicated().sum()

313

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18924 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18924 non-null  int64
 1   Price             18924 non-null  int64
 2   Levy              18924 non-null  object
 3   Manufacturer      18924 non-null  object
 4   Model             18924 non-null  object
 5   Prod. year        18924 non-null  int64
 6   Category          18924 non-null  object
 7   Leather interior  18924 non-null  object
 8   Fuel type         18924 non-null  object
 9   Engine volume     18924 non-null  object
 10  Mileage           18924 non-null  object
 11  Cylinders         18924 non-null  float64
 12  Gear box type     18924 non-null  object
 13  Drive wheels      18924 non-null  object
 14  Doors             18924 non-null  object
 15  Wheel             18924 non-null  object
 16  Color             18924 non-null  object
 17  Airbags           18924 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.7+ MB

In [12]:
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [13]:
df = df.iloc[:,1:] # Desconsiderar coluna ID

In [14]:
df.columns = ['preco', 'imposto', 'fabricante', 'modelo', 'ano_fabricacao',
              'categoria', 'couro_interior', 'tipo_combustivel', 'tamanho_motor_vol',
              'km_rodados','cilindradas', 'tipo_transmissao', 'tracao_rodas', 'qtd_portas', 
              'posicao_volante', 'cor','airbags']

In [15]:
df.preco.describe().round(2)

count       18924.00
mean        18587.44
std        192135.63
min             1.00
25%          5331.00
50%         13172.00
75%         22063.00
max      26307500.00
Name: preco, dtype: float64

In [16]:
df.shape

(18924, 17)

In [17]:
df['ano_fabricacao'] = df['ano_fabricacao'].astype('string')

In [18]:
df['couro_interior'].unique()

df['couro_interior'].replace({'Yes':1,'No':0},inplace=True)

In [19]:
df.tipo_combustivel.value_counts()

tipo_combustivel
Petrol            9944
Diesel            4001
Hybrid            3539
LPG                885
CNG                469
Plug-in Hybrid      85
Hydrogen             1
Name: count, dtype: int64

In [20]:
df.tamanho_motor_vol.unique()

array(['3.5', '3', '1.3', '2.5', '2', '1.8', '2.4', '4', '1.6', '3.3',
       '2.0 Turbo', '2.2 Turbo', '4.7', '1.5', '4.4', '3.0 Turbo',
       '1.4 Turbo', '3.6', '2.3', '1.5 Turbo', '1.6 Turbo', '2.2',
       '2.3 Turbo', '1.4', '5.5', '2.8 Turbo', '3.2', '3.8', '4.6', '1.2',
       '5', '1.7', '2.9', '0.5', '1.8 Turbo', '2.4 Turbo', '3.5 Turbo',
       '1.9', '2.7', '4.8', '5.3', '0.4', '2.8', '3.2 Turbo', '1.1',
       '2.1', '0.7', '5.4', '1.3 Turbo', '3.7', '1', '2.5 Turbo', '2.6',
       '1.9 Turbo', '4.4 Turbo', '4.7 Turbo', '0.8', '0.2 Turbo', '5.7',
       '4.8 Turbo', '4.6 Turbo', '6.7', '6.2', '1.2 Turbo', '3.4',
       '1.7 Turbo', '6.3 Turbo', '2.7 Turbo', '4.3', '4.2', '2.9 Turbo',
       '0', '4.0 Turbo', '20', '3.6 Turbo', '0.3', '3.7 Turbo', '5.9',
       '5.5 Turbo', '0.2', '2.1 Turbo', '5.6', '6', '0.7 Turbo',
       '0.6 Turbo', '6.8', '4.5', '0.6', '7.3', '0.1', '1.0 Turbo', '6.3',
       '4.5 Turbo', '0.8 Turbo', '4.2 Turbo', '3.1', '5.0 Turbo', '6.4',
       '3.9', '5.7 Turbo', '0.9', '0.4 Turbo', '5.4 Turbo', '0.3 Turbo',
       '5.2', '5.8', '1.1 Turbo'], dtype=object)

In [21]:
df_tamanho_motor = df.tamanho_motor_vol.str.split(' ',expand=True)
df_tamanho_motor.columns = ['volume_motor','tipo_motor']


df_tamanho_motor.volume_motor = df_tamanho_motor.volume_motor.astype('float')

df_tamanho_motor.tipo_motor.fillna('Comum',inplace=True)

df_tamanho_motor

       volume_motor tipo_motor
0               3.5      Comum
1               3.0      Comum
2               1.3      Comum
3               2.5      Comum
4               1.3      Comum
...             ...        ...
19232           2.0      Turbo
19233           2.4      Comum
19234           2.0      Comum
19235           2.0      Comum
19236           2.4      Comum

[18924 rows x 2 columns]

In [22]:
df = pd.concat([df.drop(columns=['tamanho_motor_vol']),df_tamanho_motor],axis=1)
df

,preco,imposto,fabricante,modelo,ano_fabricacao,categoria,couro_interior,tipo_combustivel,km_rodados,cilindradas,tipo_transmissao,tracao_rodas,qtd_portas,posicao_volante,cor,airbags,volume_motor,tipo_motor
0,13328,1399,LEXUS,RX 450,2010,Jeep,1,Hybrid,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12,3.5,Comum
1,16621,1018,CHEVROLET,Equinox,2011,Jeep,0,Petrol,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8,3.0,Comum
2,8467,-,HONDA,FIT,2006,Hatchback,0,Petrol,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2,1.3,Comum
3,3607,862,FORD,Escape,2011,Jeep,1,Hybrid,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0,2.5,Comum
4,11726,446,HONDA,FIT,2014,Hatchback,1,Petrol,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4,1.3,Comum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,8467,-,MERCEDES-BENZ,CLK 200,1999,Coupe,1,CNG,300000 km,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5,2.0,Turbo
19233,15681,831,HYUNDAI,Sonata,2011,Sedan,1,Petrol,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8,2.4,Comum
19234,26108,836,HYUNDAI,Tucson,2010,Jeep,1,Diesel,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4,2.0,Comum
19235,5331,1288,CHEVROLET,Captiva,2007,Jeep,1,Diesel,51258 km,4.0,Automatic,Front,04-May,Left wheel,Black,4,2.0,Comum
19236,470,753,HYUNDAI,Sonata,2012,Sedan,1,Hybrid,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12,2.4,Comum

In [23]:
df.km_rodados = df.km_rodados.str.replace(' km','').astype('int')

In [24]:
df.cilindradas = df.cilindradas.astype('int')

In [25]:
df.tipo_transmissao.unique()

array(['Automatic', 'Tiptronic', 'Variator', 'Manual'], dtype=object)

In [26]:
df.tracao_rodas.unique()

array(['4x4', 'Front', 'Rear'], dtype=object)

In [27]:
df.qtd_portas.unique()

array(['04-May', '02-Mar', '>5'], dtype=object)

In [28]:
df.qtd_portas = df.qtd_portas.str.replace('04-May','4_portas').str.replace('02-Mar','2_portas').str.replace('>5','5_ou_mais_portas')

In [29]:
df.posicao_volante.unique()

array(['Left wheel', 'Right-hand drive'], dtype=object)

In [30]:
df.cor.unique()

array(['Silver', 'Black', 'White', 'Grey', 'Blue', 'Green', 'Red',
       'Sky blue', 'Orange', 'Yellow', 'Brown', 'Golden', 'Beige',
       'Carnelian red', 'Purple', 'Pink'], dtype=object)

In [31]:
df.airbags.unique()

array([12,  8,  2,  0,  4,  6, 10,  3,  1, 16,  5,  7,  9, 11, 14, 15, 13])

In [32]:
df.airbags.value_counts()

airbags
4     5733
12    5534
0     2384
8     1569
6     1289
2     1051
10     845
5      104
16      93
7       85
1       76
9       62
3       37
11      33
14      20
15       7
13       2
Name: count, dtype: int64

In [33]:
set(sorted(df.fabricante.to_list()))

{'ACURA',
 'ALFA ROMEO',
 'ASTON MARTIN',
 'AUDI',
 'BENTLEY',
 'BMW',
 'BUICK',
 'CADILLAC',
 'CHEVROLET',
 'CHRYSLER',
 'CITROEN',
 'DAEWOO',
 'DAIHATSU',
 'DODGE',
 'FERRARI',
 'FIAT',
 'FORD',
 'GAZ',
 'GMC',
 'GREATWALL',
 'HAVAL',
 'HONDA',
 'HUMMER',
 'HYUNDAI',
 'INFINITI',
 'ISUZU',
 'JAGUAR',
 'JEEP',
 'KIA',
 'LAMBORGHINI',
 'LANCIA',
 'LAND ROVER',
 'LEXUS',
 'LINCOLN',
 'MASERATI',
 'MAZDA',
 'MERCEDES-BENZ',
 'MERCURY',
 'MINI',
 'MITSUBISHI',
 'MOSKVICH',
 'NISSAN',
 'OPEL',
 'PEUGEOT',
 'PONTIAC',
 'PORSCHE',
 'RENAULT',
 'ROLLS-ROYCE',
 'ROVER',
 'SAAB',
 'SATURN',
 'SCION',
 'SEAT',
 'SKODA',
 'SSANGYONG',
 'SUBARU',
 'SUZUKI',
 'TESLA',
 'TOYOTA',
 'UAZ',
 'VAZ',
 'VOLKSWAGEN',
 'VOLVO',
 'ZAZ',
 'სხვა'}

In [34]:
df['imposto']

0        1399
1        1018
2           -
3         862
4         446
         ...
19232       -
19233     831
19234     836
19235    1288
19236     753
Name: imposto, Length: 18924, dtype: object

In [35]:
df['imposto'] = df['imposto'].str.replace('-','0').astype('int')

In [36]:
df.modelo = df.modelo.str.upper()

In [37]:
df

,preco,imposto,fabricante,modelo,ano_fabricacao,categoria,couro_interior,tipo_combustivel,km_rodados,cilindradas,tipo_transmissao,tracao_rodas,qtd_portas,posicao_volante,cor,airbags,volume_motor,tipo_motor
0,13328,1399,LEXUS,RX 450,2010,Jeep,1,Hybrid,186005,6,Automatic,4x4,4_portas,Left wheel,Silver,12,3.5,Comum
1,16621,1018,CHEVROLET,EQUINOX,2011,Jeep,0,Petrol,192000,6,Tiptronic,4x4,4_portas,Left wheel,Black,8,3.0,Comum
2,8467,0,HONDA,FIT,2006,Hatchback,0,Petrol,200000,4,Variator,Front,4_portas,Right-hand drive,Black,2,1.3,Comum
3,3607,862,FORD,ESCAPE,2011,Jeep,1,Hybrid,168966,4,Automatic,4x4,4_portas,Left wheel,White,0,2.5,Comum
4,11726,446,HONDA,FIT,2014,Hatchback,1,Petrol,91901,4,Automatic,Front,4_portas,Left wheel,Silver,4,1.3,Comum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,8467,0,MERCEDES-BENZ,CLK 200,1999,Coupe,1,CNG,300000,4,Manual,Rear,2_portas,Left wheel,Silver,5,2.0,Turbo
19233,15681,831,HYUNDAI,SONATA,2011,Sedan,1,Petrol,161600,4,Tiptronic,Front,4_portas,Left wheel,Red,8,2.4,Comum
19234,26108,836,HYUNDAI,TUCSON,2010,Jeep,1,Diesel,116365,4,Automatic,Front,4_portas,Left wheel,Grey,4,2.0,Comum
19235,5331,1288,CHEVROLET,CAPTIVA,2007,Jeep,1,Diesel,51258,4,Automatic,Front,4_portas,Left wheel,Black,4,2.0,Comum
19236,470,753,HYUNDAI,SONATA,2012,Sedan,1,Hybrid,186923,4,Automatic,Front,4_portas,Left wheel,White,12,2.4,Comum

## Feature engineering

In [38]:
df['preco_total'] = df.preco + df.imposto

In [39]:
df = df.drop(columns=['preco','imposto'])

In [40]:
df.preco_total.describe().round(2)

count       18924.00
mean        19220.32
std        192134.45
min             1.00
25%          5882.00
50%         13670.00
75%         22806.00
max      26307500.00
Name: preco_total, dtype: float64

In [50]:
df.preco_total.describe().round(2)

count       18924.00
mean        19220.32
std        192134.45
min             1.00
25%          5882.00
50%         13670.00
75%         22806.00
max      26307500.00
Name: preco_total, dtype: float64

In [47]:
preco_max_90 = df.preco_total.quantile(.90)
preco_min_90 = df.preco_total.quantile(.10)

print('Max = ',preco_max_90.round(2))

print('Min = ',preco_min_90.round(2))

Max =  39331.2
Min =  1600.6

In [515]:
df_final = df.query('@preco_min_90 < preco_total < @preco_max_90')

In [518]:
#df_final.to_csv('Datasets/car-price/car-price_formatado.csv',index=False)